* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    /* max-width: 1200px; */
    width: 100vw;
    margin: 0 auto;
}

.restaurant-name {
    font-size: 24px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    
}

.main-content {
    background-image: url('/assets/image/pizza1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding: 50px;
    align-items: center;
  }
  
  .content-container {
    text-align: center;
    color: #fff;
    max-width: 500px;
  }
  
  .content-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .content-container p {
    font-size: 18px;
  }
  .about-us {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
  }
  
  
  .h2text {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #B62828;
    padding-bottom: 10px;
    max-width: 200px;
    text-align: center;
    margin: auto;
  }
  
  .contenta{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-left: auto;
  }
  .text{
    padding: 20px;
    text-align: left;
  }
  .aboutp{
    border-top: 2px solid #B62828;
    padding-top: 10px;
  }
  .image {
    padding-top: 20px;
    padding-left: 50px;
  }
  
  .image img {
    max-width: 500px;
    height: 220px;
  }
  
  
  
/* Hamburger Menu Styles */

.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: none;
}
@media screen(max-width:768px) {
  .contenta {
    padding: 20px;
    display: grid;
    gap: 100px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) 
{
  .social-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.content-container {
  max-width: 90%;
}
.content {
  flex-direction: column;
}


.text, .image {
  flex: 1 0 100%;
}
.menuimg{
  display: grid;
  margin: 70px;
  gap: 20px;
  }

.content-container h2 {
  font-size: 28px;
}

.content-container p {
  font-size: 16px;
}

    .container {
        display: flex;
        gap: 50px;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle:checked+.menu-icon {
        color: #fff;
    }

    .menu-toggle:checked~nav ul {
        display: flex;
    }
}


/* ------------------------------ */
.menuep{
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.menuimg{
display: grid;
grid-template-columns: 1fr 1fr;
margin: 70px;
gap: 20px;
/* grid-template-rows: 1fr 1fr ; */
}
.menuit{
  
  display: flex;
}
.menuit img{
  width: 200px;
  height: 200px;
}
.menutext{
padding: 10px;
max-width: 200px;
}
.menuh3{
color: #F2C94C;
padding-bottom: 10px;
}
.menup2{

}
.galleyimg{
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.galley2{
  display: flex;
  gap: 10px;
}
.findus{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px;
}
.last{
  /* margin: 50px; */
  display: flex;
  justify-content: space-around;
}
